body {
    background-color: rgb(49, 49, 49);
    color: rgb(203, 213, 223);
    display:grid;
    grid-template-columns: auto;
}
.tasks_table, td{
    margin:10px;
    border: 1px solid;
}

.table_titles {
    font-weight: bolder;
}

form {
    border: 1px solid;
    width:fit-content;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: auto;
    gap: 2rem;
}

.analysis {
    border: 1px solid;
}

.avg {
    margin: 10px;
}