body {
    background-color: rgb(49, 49, 49);
    color: rgb(203, 213, 223);
    display:grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 5%;
}

form {
    border: 1px solid;
    width:fit-content;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: auto;
    gap: 2rem;
}
